<h1>Hello world</h1>
<% 10.times do |i| %>
    <p><%= i %></p>
<% end %>

<a href="/">Inicio</a>
<%= link_to "Inicio", "/" %>
<%= link_to "Inicio", root_path %>


<p><%= root_url %></p>
<p><%= root_path %></p>
